<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Привет, DevClub!</title>
</head>
<body>
	<h3>Текст запроса "как есть"</h3>
	<pre>{{.RawRequest}}</pre>
	<h3>Стартовая строка (<i>Starting line</i>)</h3>
	<table >
		{{range .Required}}
		<tr>
			<td><b>{{.Key}}</b></td>
			<td>{{.Value}}</td>
		</tr>
		{{end}}
	</table>
	<h3>Заголовки (<i>Headers</i>)</h3>
	<table >
		{{range .Headers}}
			<tr>
				<td>{{.Key}}</td>
				<td>{{.Value}}</td>
			</tr>
		{{end}}
	</table>
	{{if .ResponseHeaders}}
	<h3>Дополнительные заголовки ответа</h3>
	<table >
        {{range .ResponseHeaders}}
			<tr>
				<td>{{.Key}}</td>
				<td>{{.Value}}</td>
			</tr>
        {{end}}
	</table>
	{{end}}
</body>
</html>